* {
  padding: 0;
  margin: 0;
  /* height: 100%; */
  font-family: sans-serif;
}

.container-top-menu {
  display: flex;
  height: 0px;
  flex-wrap: wrap;
}

.aside-top-right {
  flex-grow: 1;
  background-color: #227093;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  z-index: 100;
}

.aside-top-right header {
  height: 70px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}
.aside-top-right header h2 {
  margin-top: 20px;
}

.aside-top-right .nav-bar {
  height: 50px;
}

.aside-top-right .nav-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  list-style: none;
}

.aside-top-right .nav-bar ul li {
  margin: 10px;
  flex-grow: 1;

  padding: 15px;
  align-items: center;
}
.aside-top-right .nav-bar ul a {
  font-size: 18px;
  color: #e2e2e2;
  text-decoration: none;
}
.aside-top-right .nav-bar ul li i {
  margin-top: 0px;
  margin-right: 65px;
  float: left;
}

.active {
  background-color: #216888;
}

.aside-top-right .nav-bar ul li:hover {
  background-color: #216888;
  cursor: pointer;
}
.container-top-menu .aside-top-left {
  height: 70px;
  flex-grow: 10;

  z-index: 100;
}
.aside-top-left {
  display: flex;
  justify-content: flex-end;

  z-index: 200;
}

.profile-pic {
  align-self: flex-end;
  align-self: start;
  margin-right: 80px;
  padding-top: 15px;
  display: flex;
}
.profile-pic p {
  margin-top: 10px;
  padding-right: 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.profile-pic i {
  color: white;
  margin-top: 10px;
  margin-right: 30px;
}
.profile-pic img {
  height: 40px;
  width: 40px;
  border-radius: 200px;

  -webkit-box-shadow: 3px 6px 10px -9px rgba(125, 125, 125, 1);
  -moz-box-shadow: 3px 6px 10px -9px rgba(125, 125, 125, 1);
  box-shadow: 3px 6px 10px -9px rgba(125, 125, 125, 1);
}

header {
  -webkit-box-shadow: 3px 6px 10px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 6px 10px -9px rgba(0, 0, 0, 1);
  box-shadow: 3px 6px 10px -9px rgba(0, 0, 0, 1);
}

.forms {
  display: flex;
  padding: 0;
  margin-top: -0px;
  padding-left: 0px;
  padding-right: 0;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.forms form {
  flex-grow: 1;
  display: flex;
  /* flex-direction: ; */
  align-items: flex-start;
  margin-top: 90px;
  flex-wrap: wrap;
}

.head {
  flex-grow: 1;
  margin-top: 144px;
  margin-left: 80px;
  margin-bottom: -40px;
}
.head p {
  font-size: 44px;
  font-weight: 100;
  padding: 5px;
}

.head label {
  color: #707070;
  padding: 9px;
}
.inputs {
  margin-left: 89px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 55%;
}
.driver_photo {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.driver_photo .the-pic {
  flex-grow: 1;
  align-self: center;
  width: 250px;
  height: 350px;
  object-fit: contain;

  -webkit-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.driver_photo .the-pic img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.driver_photo input[type="file"] {
  display: none;
}

.driver_photo label {
  margin-top: 20px;
  width: 200px;
  align-items: center;
  padding: 10px;
  background-color: #216888;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  -webkit-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 5px -2px rgba(0, 0, 0, 0.75);
}
.inputs input,
select {
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  border: 0.1px solid #bdbdbd;
  height: 44px;
  font-size: 18px;
  padding-left: 15px;
  color: #707070;
}

.warning {
  height: 40px;
  background-color: #27ae60;

  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

.warning p {
  padding: 10px;
  font-size: 18px;
  color: white;
}

.buttons {
  flex-grow: 1;
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons input {
  align-self: center;
  flex-grow: 1;
  border: none;
  width: 120px;
  margin: 10px;
  height: 45px;
  color: black;
  color: white;
  font-size: 18px;
  text-align: center;

  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

.save {
  background-color: #27ae60;
}
.update {
  background-color: #2980b9;
}
.delete {
  background-color: #c0392b;
}
.select {
  background-color: #2c3e50;
}

/* icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
#map {
  margin-left: 0;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
